{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Uniben, Elearning, UNIBEN, Cousera, udemy, courses, teacher" />
    <title>You Searched For {{search}} | CSlearn</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/homestyle.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/navbarstyling.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/homemain.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

	<!--card-->

	<!--//card-->


	<link href="//fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
     <div class="menu-icon">
        <span class="fa fa-bars"></span>
     </div>
     <div class="logo">
        <a href="{% url 'home' %}">CSlearn</a>
     </div>
     <div class="nav-items">
        <li><a href="{% url 'home' %}">Home</a></li>
         {% if user.is_admin %}
         {% else %}
         <li><a href="{% url 'allquizes' %}">Test</a></li>
         {% endif %}
        <li><a href="#">About</a></li>
        <li><a href="{% url 'profile' %}"><img src="{% static 'img/user.png' %}"></a></li>
     </div>
     <div class="search-icon">
        <span class="fa fa-search"></span>
     </div>
     <div class="cancel-icon">
        <span class="fa fa-times"></span>
     </div>
     <form action="{% url 'search' %}" method="get">
        <input type="search" class="search-data"  name="q" placeholder="What do you want to Learn?" required>
        <button type="submit" class="fa fa-search"></button>
     </form>
</nav>
<script>
const menuBtn = document.querySelector(".menu-icon span");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const items = document.querySelector(".nav-items");
const form = document.querySelector("form");
menuBtn.onclick = ()=>{
	items.classList.add("active");
	menuBtn.classList.add("hide");
	searchBtn.classList.add("hide");
	cancelBtn.classList.add("show");
}
cancelBtn.onclick = ()=>{
	items.classList.remove("active");
	menuBtn.classList.remove("hide");
	searchBtn.classList.remove("hide");
	cancelBtn.classList.remove("show");
	form.classList.remove("active");
	cancelBtn.style.color = "#71c55d";
}
searchBtn.onclick = ()=>{
	form.classList.add("active");
	searchBtn.classList.add("hide");
	cancelBtn.classList.add("show");
}
</script>

<div class="main">
	<div class="container">
		<h3 class="subtext" style="margin-top:3%;">Search Result{{results.count|pluralize}} for {{search}}</h3>
	</div>
			<!--card body-->
		<div class="index-content">
    		<div class="container">
    			{% for course in results %}
            	<a href="{% url 'coursedetails' course.slug  %}">
                	<div class="col-lg-4">
                    	<div class="card">
                        	<img src="{{course.course_thumbnail.url}}">
                        	<h4>{{course}}</h4>
                        	<p>{{course.description | truncatechars:50}}</p>
                        	<a href="{% url 'coursedetails' course.slug  %}"><button style="margin-left: 5%;" class="btn btn-success btn-sm">START COURSE</button></a>
                    	</div>
                	</div>
            	</a>
              {% empty %}
              <h3>
              Nothing matches your search...
            </h3>
            	{% endfor %}
    		</div>
		</div>


<hr>
      		
</div>


<!--Footer-->
  <footer style="background-color: #14181f;" class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a style="color:#337ab7;" class="navbar-brand" href="#">CSlearn&nbsp;</a>
            <p style="font-size: 17px; margin-bottom: 3%; color: #fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-2 mb-3">
          <div class="list-menu">

            <h4 style="color:#337ab7;">About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#" style="color: #fff;font-size: 17px;">About us</a></li>
              <li><a href="#" style="color: #fff; font-size: 17px;">Features item</a></li>
              <li><a href="#" style="color: #fff; font-size: 17px;">Live streaming</a></li>
              <li><a href="#" style="color: #fff; margin-bottom: 3%;  font-size: 17px;">Privacy Policy</a></li>
            </ul>

          </div>
        </div>


        <div class="col-sm-6 col-md-12 col-lg-2">
          <div class="list-menu">

            <h4 style="color:#337ab7;">About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#" style="color: #fff; font-size: 17px;">About us</a></li>
              <li><a href="#" style="color: #fff; font-size: 17px;">Features item</a></li>
              <li><a href="#" style="color: #fff; font-size: 17px;">Live streaming</a></li>
              <li><a href="#" style="color: #fff; margin-bottom: 3%;  font-size: 17px;">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-2">
          <div class="list-menu">

            <h4 style="color:#337ab7;">Support</h4>

            <ul class="list-unstyled">
              <li><a style="color: white; font-size: 17px;" href="#">Faq</a></li>
              <li><a style="color: white; font-size: 17px;" href="#">Editor help</a></li>
              <li><a style="color:white; font-size: 17px;" href="#">Contact us</a></li>
              <li><a style="color: white; font-size: margin-bottom: 3%;  17px;" href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p><span style="color: white;">&copy; Copyrights </span><span style="color: #337ab7;">CSlearn</span>. <span style="color: white;">All rights reserved.</span></p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
         
        </div>
      </div>
    </div>

  </footer>
<!--//Footer-->

<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/homemain.js' %}"></script>
<!-- //js -->
<!--coursel js-->
 <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/carouselmain.js' %}"></script>
<!--//coursel js-->
</body>
</html>